<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% block scripts %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function filterSelect(e) {
            var filterVal = e.target.value;
            console.log(e.target.value);
            select_tag = document.getElementById(e.target.queryId);
            var options = select_tag.options;
            var filteredOptions = [];
            for (var i = 0; i < options.length; i++) {
                var option = options[i];
                var optionFilter = option.getAttribute(e.target.dataAttribute);
                if (optionFilter === filterVal) {
                    option.style.display = 'block';
                    filteredOptions.push(option);
                } else {
                    option.style.display = 'none';
                }
            }
            filteredOptions[0].selected = true;
        }
    </script>
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wdth,wght@87.5,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <nav class="bebas-neue-regular bg-white dark:bg-gray-700 p-2">
        <ul class="font-sm flex flex-row justify-end">
            <li class="text-gray-900 mx-3">Programmer</li>
            <li class="mx-3">
                <a href="{{ url_for('get_programs') }}" class="text-gray-900 hover:text-blue-700 dark:text-white">Programs</a>
            </li>
            <li class="mx-3">
                <a href="#" class="text-gray-900 hover:text-blue-700 dark:text-white">About</a>
            </li>
        </ul>
    </nav>
    {% endblock %}
</head>
<body class="noto-sans-regular dark:bg-gray-900">
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>