{% extends "base.html" %}
{% block title %}Programs{% endblock %}
{% block content %}
    <h1 class="flex place-content-center m-4 text-2xl md:text-3xl lg:text-4xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">
        Programs
    </h1>
    <div class="flex flex-row place-content-center">
        <div class="shrink overflow-auto max-h-64 m-4 border dark:border-gray-700 shadow-md rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Start Date</th>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Type</th>
                    <th scope="col" class="px-6 py-3">Description</th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for program in programs %}
            <tr class="text-nowrap bg-white {{ 'border-b' if not loop.last }} {{ 'odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800' if programs|length > 2 }} bg-white dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">{{ program.start_date.strftime('%Y-%m-%d') }}</td>
                <td class="px-6 py-4">{{ program.name }}</td>
                <td class="px-6 py-4">{{ program.program_type.name }}</td>
                <td class="px-6 py-4">{{ program.description }}</td>
                <td class="px-6 py-4">
                    <a href="{{ url_for('get_program', program_id=program.id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        View
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <form action="/programs" method="post" enctype="multipart/form-data">
    <div class="flex flex-row place-content-center">
    <div class="form-group grid gap-2 m-2 md:grid-cols-2">
        <div class="max-w-48">
            <label for="program_type_id"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Program Type</label>
            <select id="program_type_id"
                    name="program_type_id"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for program_type in program_types %}
                    <option value={{program_type.id}}>{{ program_type.name }}</option>
                 {% endfor %}
            </select>
        </div>
        <div class="max-w-48">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name:</label>
            <input type="text" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
            <!--        Create check for start_date-->
        <div class="max-w-48">
            <label for="start_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start Date:</label>
            <input type="date" id="start_date" name="start_date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="max-w-48">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description:</label>
            <textarea type="text" id="description" name="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </textarea>
        </div>
    </div>
    </div>
    <div class="flex place-content-center m-4">
        <button id="create" type='submit' class="w-1/4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Create
        </button>
    </div>
</form>
{% endblock %}