{% extends "base.html" %}
{% block title %}Program{% endblock %}
{% block content %}
    <h1 class="flex place-content-center m-4 text-xl md:text-2xl lg:text-3xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">
        {{ program.name }}
    </h1>
    <p class="flex place-content-center text-sm text-gray-300">Start Date: {{ program.start_date.strftime('%Y-%m-%d') }}</p>
    <p class="flex place-content-center mb-8 text-sm text-gray-300">Type: {{ program.program_type.name }}</p>
    <h2 class="flex place-content-center text-xl md:text-xl lg:text-xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">
        Workouts
    </h2>
    <div class="flex place-content-center">
        <div class="shrink overflow-auto max-h-64 m-4 border dark:border-gray-700 shadow-md rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Date</th>
                        <th scope="col" class="px-6 py-3">Label</th>
                        <th scope="col" class="px-6 py-3">Duration</th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">View</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <!--            TODO: Fix lines between rows-->
                {% for workout in program.workouts|sort(attribute='date') %}
                <tr class="bg-white {{ 'border-b' if not loop.last }} odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">{{ workout.date.strftime('%Y-%m-%d') }}</td>
                    <td class="px-6 py-4">{{ workout.template.label }}</td>
                    <td class="px-6 py-4">0</td>
                    <td class="px-6 py-4">
                        <a href="{{ url_for('get_workout', workout_id=workout.id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h2 class="flex place-content-center text-xl md:text-xl lg:text-xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">
        Templates
    </h2>
    <div class="flex justify-around">
<!--        TODO: Auto grid instead of specifying cols-->
        <div class="grid grid-cols-2 lg:grid-cols-4 m-4 gap-4">
        {% for workout_template in workout_templates %}
            <div class="flex flex-col max-w-64 p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div>
                    <h2 class="mb-2 text-sm underline font-bold text-gray-900 dark:text-gray-200">
                        {{ get_weekday(workout_template.day_of_week) }} - {{ workout_template.label }}
                    </h2>
                    <ul class="mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">
                    {% for template_exercise in workout_template.exercises %}
                        <li class="py-2">{{ template_exercise.exercise.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="grow content-end">
                    <div class="flex flex-row justify-center gap-4">
                        <div class="basis-1/2">
                            <form action="{{ url_for('get_workout_template', template_id=workout_template.id) }}" method="get">
                                <button id="view_template" type='submit' class="w-full text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-normal antialiased rounded-lg text-xs px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                                    Edit
                                </button>
                            </form>
                        </div>
                        <div class="basis-1/2">
                            <form action="/workouts" method="post">
                                <input class="hidden" id="program_id_1" name="program_id" value="{{ program.id }}">
                                <input class="hidden" id="template_id" name="template_id" value={{ workout_template.id }}>
                                <button id="log_workout" type='submit' class="w-full text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-normal antialiased rounded-lg text-xs px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                                    Log
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <form action="/workout_templates" method="post" enctype="multipart/form-data">
        <div class="flex flex-row justify-center my-4">
            <div class="flex flex-col">
                <h2 class="flex place-content-center text-xl md:text-xl lg:text-xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">
                    Add Workout Template
                </h2>
                <div class="form-group grid gap-2 m-2 grid-cols-1 md:grid-cols-3">
                    <input class="hidden" id="program_id" name="program_id" value="{{ program.id }}">
                    <div>
                        <label for="day_of_week" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Day of Week</label>
                        <select id="day_of_week" name="day_of_week" class="min-h-11 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value=1>Sunday</option>
                            <option value=2>Monday</option>
                            <option value=3>Tuesday</option>
                            <option value=4>Wednesday</option>
                            <option value=5>Thursday</option>
                            <option value=6>Friday</option>
                            <option value=7>Saturday</option>
                        </select>
                    </div>
                    <div>
                        <label for="label" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Workout Label</label>
                        <input type="text" id="label" name="label" class="min-h-11 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="content-end">
                        <button id="create" type='submit' class="min-h-11 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}