{% extends "base.html" %}
{% block title %}Program{% endblock %}
{% block content %}
    <h1 class="flex place-content-center m-4 text-xl md:text-2xl lg:text-3xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">
        {{ program.name }}
    </h1>
    <p class="flex place-content-center ml-4 text-sm text-gray-300">Start Date: {{ program.start_date }}</p>
    <p class="flex place-content-center ml-4 mb-1 text-sm text-gray-300">Type: {{ program.program_type.name }}</p>
    <div class="flex flex-row justify-center relative overflow-x-auto m-4 gap-4">
        {% for workout_template in workout_templates %}
        <div class="flex flex-col grow max-w-64">
            <a href="{{ url_for('get_workout_template', template_id=workout_template.id) }}"
               class="grow block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h2 class="mb-2 text-md md:text-lg lg:text-xl text-gray-200 font-bold">
                {{ get_weekday(workout_template.day_of_week) }} - {{ workout_template.label }}
            </h2>
            <ul class="text-sm font-medium text-gray-900 dark:text-white">
            {% for template_exercise in workout_template.exercises %}
                <li class="py-2">{{ template_exercise.exercise.name }}</li>
            {% endfor %}
            </ul>
            </a>
        </div>
        {% endfor %}
    </div>
    <form action="/workout_templates" method="post" enctype="multipart/form-data">
        <div class="flex flex-row justify-center">
            <div class="form-group gap-2 m-2 w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
                <h2 class="flex place-content-center mb-4 text-xl md:text-xl lg:text-xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">
                    Add Workout Template
                </h2>
                <input class="hidden" id="program_id" name="program_id" value="{{ program.id }}">
                <div class="mb-4">
                    <label for="day_of_week" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Day of Week</label>
                    <select id="day_of_week" name="day_of_week" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value=1>Sunday</option>
                        <option value=2>Monday</option>
                        <option value=3>Tuesday</option>
                        <option value=4>Wednesday</option>
                        <option value=5>Thursday</option>
                        <option value=6>Friday</option>
                        <option value=7>Saturday</option>
                    </select>
                </div>
                <label for="label" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Workout Label</label>
                <input type="text" id="label" name="label" class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <button id="create" type='submit' class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create</button>
            </div>
        </div>
    </form>
{% endblock %}