{% extends "base.html" %}
{% block title %}Workout Log{% endblock %}
{% block content %}
    <h1 class="flex place-content-center m-4 text-xl md:text-2xl lg:text-3xl font-bold leading-none tracking-tight text-gray-900 dark:text-white"">
        {{ get_weekday(workout.template.day_of_week) }} - {{ workout.template.label }}
    </h1>
    <div class="flex place-content-center">
        <a href="{{ url_for('get_program', program_id=workout_template.program_id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
            {{ workout.program.name }}
        </a>
        <form action="/workouts" method="put" enctype="multipart/form-data">
            <div>
                <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date:</label>
                <input type="date" id="date" name="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
        </form>
    </div>
    <div class="flex place-content-center">
        <div class="shrink overflow-x-auto m-4 shadow-md sm:rounded-lg">
            <table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Order</th>
                        <th scope="col" class="px-6 py-3">Exercise</th>
                        <th scope="col" class="px-6 py-3">Sets</th>
<!--                        <th scope="col" class="px-6 py-3">Top Weight</th>-->
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% if workout.exercises %}
                {% for user_exercise in workout.exercises %}
                <tr class="bg-white {{ 'border-b' if not loop.last }} dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">{{ user_exercise.id }}</td>
                    <td class="px-6 py-4">{{ user_exercise.exercise.name }}</td>
                    <td class="px-6 py-4">4</td>
                    <td class="px-6 py-4">
                        <a href="{{ url_for('get_user_exercise', user_exercise_id=user_exercise.id) }}"
                           class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}