{% extends "base.html" %}
{% block title %}Workout Log{% endblock %}
{% block content %}
    <h1 class="flex place-content-center m-4 text-xl md:text-2xl lg:text-3xl font-bold leading-none tracking-tight text-gray-900 dark:text-white"">
        {{ workout.date }}
    </h1>
    <div class="flex flex-col">
        <div class="flex place-content-center mb-4">
            <a href="{{ url_for('get_workout_template', template_id=workout.template.id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                {{ workout.template.program.name }}
            </a>
        </div>
        <form action="{{ url_for('update_workout', workout_id=workout.id) }}" method="post" enctype="multipart/form-data">
            <div class="flex justify-center gap-x-2">
                <input type="date" id="date" name="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <button id="update" type='submit' class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Update
                </button>
            </div>
        </form>
    </div>
    <div class="flex place-content-center">
        <div class="shrink overflow-x-auto m-4 shadow-md sm:rounded-lg">
            <table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Order</th>
                        <th scope="col" class="px-6 py-3">Exercise</th>
                        <th scope="col" class="px-6 py-3">Sets</th>
                        <th scope="col" class="px-6 py-3">Notes</th>
<!--                        <th scope="col" class="px-6 py-3">Top Weight</th>-->
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Delete</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% if workout.exercises %}
                {% for workout_exercise in workout.exercises|sort(attribute='order') %}
                <tr class="bg-white {{ 'border-b' if not loop.last }} dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">{{ workout_exercise.order }}</td>
                    <td class="px-6 py-4">{{ workout_exercise.exercise.name }}</td>
                    <td class="px-6 py-4">{{ workout_exercise.sets|length }}</td>
                    <td class="px-6 py-4">{{ workout_exercise.notes }}</td>
                    <td class="px-6 py-4">
                        <a href="{{ url_for('get_workout_exercise', workout_exercise_id=workout_exercise.id) }}"
                           class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            Edit
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        <form action="/workout_exercises/{{ workout_exercise.id }}/delete" method="post">
                        <button id="delete" type='submit' class="w-full text-white bg-gray-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-gray-600 dark:hover:bg-red-700 dark:focus:ring-gray-800">
                            Delete
                        </button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <form action="/workout_exercises" method="post" enctype="multipart/form-data">
        <div class="flex flex-row justify-center">
            <div class="flex flex-col form-group gap-2 m-2 w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
                <h2 class="flex place-content-center my-4 text-xl md:text-xl lg:text-xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">
                    Add Exercise to Workout
                </h2>
                <input class="hidden" id="workout_id" name="workout_id" value={{ workout.id }}>
                <label for="order" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Order</label>
                <input type="number" id="order" name="order" max="10" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <label for="exercise_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Exercises</label>
                <select id="exercise_id" name="exercise_id" class="mb-4 shrink bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {% for exercise in exercises %}
                        <option value={{exercise.id}}>{{ exercise.name }}</option>
                     {% endfor %}
                </select>
                <label for="notes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notes</label>
                <textarea id="notes" name="notes" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
                <button id="create" type='submit' class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Create
                </button>
            </div>
        </div>
    </form>
{% endblock %}