<html>
<head>
    <title>Workouts</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1 class="text-3xl font-bold underline text-clifford">Workouts</h1>
    <ul>
    {% for workout in workouts %}
        <li>{{ workout.program }}</li>
    {% endfor %}
    </ul>
    <form action="/workouts" method="post" enctype="multipart/form-data">
    <div class="form-group">
        Create inputs for
    </div>
    <button id="create" type='submit' class="btn btn-primary">Create</button>
</form>
</body>
</html>