<html>
<head>
    <title>Workout Template</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="dark:bg-gray-500">
    <h1 class="m-4 text-2xl md:text-3xl lg:text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white"">{{ workout_template.label }}</h1>
    <div class="m-2">
        <ul>
        {% if workout_template.exercises %}
        {% for template_exercise in workout_template.exercises %}
            <li>{{ template_exercise.exercise.name }}</li>
        {% endfor %}
        {% endif %}
        </ul>
    </div>
    <form action="/template_exercises" method="post" enctype="multipart/form-data">
    <div class="form-group gap-2 m-2">
        <input class="hidden" id="workout_template_id" name="workout_template_id" value={{ workout_template.id }}>
        <label for="exercise_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add Exercise</label>
        <select id="exercise_id" name="exercise_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% for exercise in exercises %}
                <option value={{exercise.id}}>{{ exercise.name }}</option>
             {% endfor %}
        </select>
    </div>
    <button id="create" type='submit' class="m-2 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Create</button>
</form>
</body>
</html>