{% extends "base.html" %}
{% block title %}Workout Log{% endblock %}
{% block content %}
    <h1 class="text-3xl font-bold underline text-clifford">Workouts</h1>
    <ul>
    {% for workout in workouts %}
        <li>{{ workout.program }}</li>
    {% endfor %}
    </ul>
    <form action="/workouts" method="post" enctype="multipart/form-data">
    <div class="form-group">
        Create inputs for
    </div>
    <button id="create" type='submit' class="btn btn-primary">Create</button>
</form>
{% endblock %}